:root{
    --primary: #145ee4;
    --dark: #000000;
    --light: #ffffff;
    --grey: #f5f5f55e;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
}

.portada {
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    background-image: url('https://mymodernmet.com/wp/wp-content/uploads/2019/10/nasa-black-hole-visualization-1.gif');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar {
    font-family: 'Titillium Web', sans-serif;
    height: 90px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 50px;
}

.nav-link {
    padding: .625rem 1.25rem;
}

.navbar-toggler{
    background-color: white;
}

.navbar-brand {
    font-size: 25px;
    color: white;
}

.contenido {
    font-family: 'Titillium Web', sans-serif;
    min-height: 20vh;
    background-color: #00000000;
    padding: 0% 5%;
    margin-top: 15%;
}

.contenido > .columna > h1 {
    text-align: left;
    font-size: 80px;
    font-weight: 900;
}

.formulario {
    font-family: 'Titillium Web', sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: WHITE;
    padding: 7% 5%;
}

.columna1 {
    text-align: center;
}

.columna1 > h1 {
    font-weight: 900;
    font-size: 50px;
    color: #000000;
}

.columna2 {
    margin-top: 5%;
    height: 37vh;
}

.columna2 > p {
    font-size: 25px;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    .portada {
        background-size: 70%;
    }

    .contenido {
        margin-top: 25%;
    }

    .contenido > .columna > h1 {
        font-size: 60px;
    }
}
